@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-white: 255 255 255;
    --color-black: 0 0 0;

    --color-primary-100: 219 234 254;
    --color-primary-200: 191 219 254;
    --color-primary-300: 147 197 253;
    --color-primary-400: 96 165 250;
    --color-primary-500: 59 130 246;
    --color-primary-600: 37 99 235;
    --color-primary-700: 29 78 216;

    --color-secondary-100: 255 191 178;
    --color-secondary-200: 255 174 158;
    --color-secondary-300: 255 155 136;
    --color-secondary-400: 244 116 91;
    --color-secondary-500: 235 100 73;
    --color-secondary-600: 207 84 60;
    --color-secondary-700: 181 68 47;

    --color-neutral-100: 245 245 245;
    --color-neutral-200: 229 229 229;
    --color-neutral-300: 212 212 212;
    --color-neutral-400: 163 163 163;
    --color-neutral-500: 115 115 115;
    --color-neutral-600: 82 82 82;
    --color-neutral-700: 64 64 64;
    --color-neutral-800: 38 38 38;
    --color-neutral-900: 23 23 23;

    --color-success-100: 177 236 202;
    --color-success-500: 8 169 76;
    --color-success-600: 6 135 61;

    --color-warning-100: 254 234 210;
    --color-warning-500: 248 152 29;
    --color-warning-600: 198 122 23;

    --color-danger-100: 247 212 212;
    --color-danger-500: 214 41 38;
    --color-danger-600: 171 33 30;

    --font-h1-size: 36px;
    --font-h1-line: 40px;
    --font-h1-weight: 700;

    --font-h2-size: 28px;
    --font-h2-line: 32px;
    --font-h2-weight: 600;

    --font-h3-size: 24px;
    --font-h3-line: 28px;
    --font-h3-weight: 700;

    --font-h4-size: 20px;
    --font-h4-line: 24px;
    --font-h4-weight: 500;

    --font-h5-size: 16px;
    --font-h5-line: 20px;
    --font-h5-weight: 700;

    --font-h6-size: 14px;
    --font-h6-line: 16px;
    --font-h6-weight: 600;

    --font-h7-size: 14px;
    --font-h7-line: 16px;
    --font-h7-weight: 700;

    --font-h8-size: 14px;
    --font-h8-line: 16px;
    --font-h8-weight: 500;

    --font-body-size: 14px;
    --font-body-line: 16px;
    --font-body-weight: 500;

    --font-small-size: 11px;
    --font-small-line: 16px;
    --font-small-weight: 600;

    --font-bold-size: 14px;
    --font-bold-line: 16px;
    --font-bold-weight: 700;

    --font-italic-size: 14px;
    --font-italic-line: 16px;
    --font-italic-weight: 500;

    --font-link-size: 14px;
    --font-link-line: 16px;
    --font-link-weight: 600;

    --font-paragraph-size: 14px;
    --font-paragraph-line: 24px;
    --font-paragraph-weight: 500;

    --font-indent-size: 14px;
    --font-indent-line: 24px;
    --font-indent-weight: 500;

    --font-xsmall-size: 8px;
    --font-xsmall-line: 14px;
    --font-xsmall-weight: 500;
  }
}

html,
body {
  @apply h-full;
}

html {
  padding-right: 0px !important;
  overflow-y: scroll !important;
}

h1 {
  @apply text-h1;
}
h2 {
  @apply text-h2;
}
h3 {
  @apply text-h3;
}
h4 {
  @apply text-h4;
}
h5 {
  @apply text-h5;
}
h6 {
  @apply text-h6;
}

.text-paragraph-italic {
  @apply text-italic italic;
}
.text-paragraph-link {
  @apply text-link underline;
}
.text-paragraph-indent {
  @apply indent-4 text-indent;
}

/* Hide the "x" button in WebKit browsers (Chrome Safari Edge) */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Hide the "x" button in Firefox */
input[type="search"]::-moz-search-cancel-button {
  display: none;
}

/* Remove Arrows/Spinners */
/* Chrome Safari Edge Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-3 cursor-pointer bg-neutral-100;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-neutral-300;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer bg-neutral-400;
}

.custom-scrollbar-sm::-webkit-scrollbar {
  @apply w-2 cursor-pointer bg-neutral-100;
}

.custom-scrollbar-sm::-webkit-scrollbar-thumb {
  @apply bg-neutral-300;
}

.custom-scrollbar-sm::-webkit-scrollbar-thumb:hover {
  @apply cursor-pointer bg-neutral-400;
}
